body {
    font-family: Arial,serif;
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 10px;
    text-align: center;
    background: black;
    color: white;
    font-size: 15px;
}

/* Add this CSS for styling the header text and icon */
.header-text {
    display: flex;
    align-items: center;
}

.header-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-left: 20px;
}

.video {
    margin-top: 2%;
}

.button {
    position: absolute;
    border: none !important;
    z-index: 1;
    background: transparent;
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: bottom;
    padding: 15px 10px;
    cursor: pointer;
}

.button:hover {
    outline: 2px solid yellow;
}

.textbox {
    margin-left: 30px;
    margin-right: 30px;
    width: 40%;
}

.content {
    display: flex;
    align-items: flex-start;
}
.content p{text-align: justify;
    margin: 10px 0;}
.content h1,
.content h2 {
    text-align: center;
    margin: 30px 0;
}
